.row.mt-5
  .col-12.text-center
    %h1 
      Weather in
      %strong
        = @city_weather['name']
.row.mt-4
  .col-sm-8.mt-1
    .card
      .card-body
        %h5.card-title Weather
        %p.card-text
          = image_tag "http://openweathermap.org/img/w/#{@city_weather['weather'][0]['icon']}.png", height: '100px'
          = @city_weather['weather'][0]['description']
        %h6.card-text
          = colored_temp(@city_weather['main']['temp'])
        %p.card-text
          Temp max:
          = celsius_degree(@city_weather['main']['temp_max'])
          C
        %p.card-text
          Temp min:
          = celsius_degree(@city_weather['main']['temp_min'])
          C
        %p.card-text
          Humidity:
          = (@city_weather['main']['humidity']).to_s + '%'
  .col-sm-4.mt-1
    .card
      .card-body
        %p.card-text
          TODAY: 
          = Time.at(@city_weather['sys']['sunrise']).strftime('%Y-%m-%d')
        %p.card-text
          SUNRISE: 
          = Time.at(@city_weather['sys']['sunrise']).strftime('%H:%M')
        %p.card-text
          SUNSET: 
          = Time.at(@city_weather['sys']['sunset']).strftime('%H:%M')
.row.mt-5
  .col-12.text-center
    = link_to 'Check another city', root_path, class: 'btn btn-info'